.bannerSection {
  padding: 30px 0;
}

.bannerWrapper {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .bannerWrapper {
    height: 280px;
  }
}

@media (min-width: 1024px) {
  .bannerWrapper {
    height: 350px;
  }
}

@media (min-width: 1440px) {
  .bannerWrapper {
    height: 400px;
  }
}
